---
layout: default
title: Tags
permalink: /tags/
---

<div class="home other-pages">
  <h2 class="page-heading">Browse by Year</h2>

    {% assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    {% for year in years %}
      <span class="post-meta">
        <a class="post-tag" href="{{ year.name | relative_url }}"><nobr>{{ year.name }} ({{ year.size }})</nobr></a>
      </span>
    {% endfor %}

  <br><br>

  <h2 class="page-heading">Browse by Tag</h2>
    {% capture temp_tags %}
      {% for tag in site.tags %}
        {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
      {% endfor %}
    {% endcapture %}
    {% assign sorted_temp_tags = temp_tags | split:' ' | sort %}
    {% for temp_tag in sorted_temp_tags %}
      {% assign tag_items = temp_tag | split: '#' %}
      <span class="post-meta">
        <a class="post-tag" href="/tag/{{ tag_items[1] }}"><nobr>{{ tag_items[1]}} ({{ tag_items[2] }})</nobr></a>
      </span>
      <br>
    {% endfor %}

</div>
