<div style="clear: both;"/>
<footer class="site-footer">
    2019 &copy; Thanks <a href="https://jonbarron.info/" target="_blank">Jon</a> and <a href="https://lilianweng.github.io/lil-log/" target="_blank">Lilian</a>, view site source <a href="https://github.com/zhiqwang/zhiqwang.github.io/tree/source" target="_blank">here</a> | <a href="{{ '/tags' | relative_url }}">Tags</a> | <a href="{{ '/about' | relative_url }}">Contact</a>
    <div class="social-links">
      {%- include social.html -%}
    </div>

</footer>
