<header class="site-header">

  <div class="wrapper">
    {%- assign social = site.minima.social_links -%}
    <span>
      <h1>{{ site.title | escape }}</h1>
      <hr size="4">
      <a class="head-link" href="{{ "/about" | relative_url }}"><nobr>About</nobr></a>
      <a class="head-link" href="{{ "/tags" | relative_url }}"><nobr>Tags</nobr></a>
      <a class="head-link" href="{{ "/" | relative_url }}"><nobr>Home</nobr></a>
      <a class="social-list-right" href="{{ 'feed.xml' | relative_url }}" title="{{ social.rss | escape }}"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg></a>
      <a class="social-list-right" href="https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}" title="{{ social.linkedin | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg></a>
      <a class="social-list-right" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" title="{{ social.twitter | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a>
      <a class="social-list-right" href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a>
    </span>
  </div>
</header>
