---
# start the file with two lines of triple dashes
---

$base-font-family: -apple-system, 'Lato', Verdana, Helvetica, sans-serif !default;

a {
  color: #1772d0;
  text-decoration: none;
  &:focus, &:hover {
    color: #f09228;
    text-decoration: none;
  }
}

body, td, th, tr, p, a, strong {
  font-family: $base-font-family;
  font-size: 14px;
}

heading {
  font-family: $base-font-family;
  font-size: 22px;
}

papertitle {
  font-family: $base-font-family;
  font-size: 14px;
  font-weight: bold;
}

name {
  font-family: $base-font-family;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

@mixin headings {
  h1, h2, h3, h4, h5, h6 {
    @content;
  }
}

.post-content {
  @include headings {
    font-family: $base-font-family;
    font-size: 22px;
    font-weight: normal;
  }
}

.post-meta {
  color: #828282;
}

.profile-picture {
  height: 240px;
  width: 240px;
  position: relative;
  margin: 30px 0 0 15px;
  float: right;
  border-radius: 50%;
  p & {
      padding: 0;
      margin: 0;
  }
  @media (max-width: 500px) {
      img {
          margin-top: -5px;
      }
  }
}
