---
layout: default
---

<div class="home other-pages">

  <img class="profile-picture" src="{{ "/assets/images/Zhiqiang.png" | relative_url }}">
  <h2 class="page-heading">About me</h2>
  I am an algorithm engineer, I work on computer vision and neural language processing.
  <br><br>
  I did my Master’s degree in computational mathematics at the <a href="http://eng.cnu.edu.cn">Capital Normal University</a>.

  <br><br><br><br>
  <h2 class="page-heading">Publications</h2>

  {%- include research.html -%}
</div>
